rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Flipped Classroom Blended Learning Platform rules
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
